@font-face {
	font-family: "AvenirLight";
	src: url(fonts/Avenir-Light.ttf);
	font-weight: normal;
}
@font-face {
	font-family: "Avenir";
	src: url(fonts/Avenir-Light.ttf);
	font-weight: normal;
}
@font-face {
	font-family: "Avenir";
	src: url(fonts/Avenir-Heavy.ttf);
	font-weight: bold;
}
@font-face {
	font-family: "AvenirMedium";
	src: url(fonts/Avenir-Medium.ttf);
	font-weight: normal;
}
@font-face {
	font-family: "AvenirMedium";
	src: url(fonts/Avenir-Heavy.ttf);
	font-weight: bold;
}

*{
	font-family: "Avenir", Calibri, sans-serif;
	font-size: 15px;
}

html, body{
	background:#222A38;
	margin:0; padding:0;
	position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}

.flex-container{
	display: flex;
}

.flex-container .flex-item.flex-50{
	flex: 50%;
}
.flex-container .flex-item{
	flex:auto;
}

.flex-container .flex-item:not(:first-child):not(.border-override){
	border-left:1px azure solid;
}

#out, #logs, #instructions{
	color:azure;
	padding-left: 20px;
}

h1{
	font-size: 26px;
}

h2{
	margin-top:0px;
	font-size: 22px;
}

.controls .title, #controls .title{
	color:#2d3c5d;
}

.title.version{
	font-weight: normal;
	font-size:15px;
}

.consolas{
	font-family: Consolas;
}

table{
	border-collapse: collapse;
	table-layout: fixed;
}

th{
	font-weight: bold;
}

tr:first-child{
	border-bottom: 1px solid azure;
}

.control-table td, .control-table th{
	text-align: center;
	vertical-align: middle;
	font-size:16px;
	width:65px;
	padding:3px 3px;
}

.controls-container{
	margin-bottom:25px;
}

#joystick-container{
	position: fixed;
	bottom:0;
	width:100%;
	height:150px;
}

.joystick-padding{
	display:block;
	width:100%;
	padding-top:80px;
	padding-bottom:80px;
}

#joystick_left{

}

#joystick_right{
}

.y-separator, .y-padding{
	clear:both;
	padding-top:5px;
	padding-bottom:5px;
}

.x-separator{
	display:inline;
	margin-left:5px;
	border-right:1px solid black;
	margin-right:10px;
}

.x-padding{
	display:inline-block;
	width:5px;
	padding: 5px 0px;
}

#controls, .controls{
	display:block;
	background:azure;
	padding: 10px 20px;
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}

#logs{
	width:30%;
}

#logs *:not(.title):not(.button){
	font-family: Consolas;
}

#clearLogsButton{
	position: absolute;
	margin:0px;
	margin-left: 20px;
}

#clearLogsButton:active{
	margin-top: 2px;
}

.smallcaps{
	font-variant-caps: small-caps;
}

.button {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
					supported by Chrome and Opera */

	background-color: #008CBA; /* Green */
	border: 2px solid #008CBA;
	color: white;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin:4px 2px;
	font-family: AvenirMedium;
	font-weight: normal;
	font-variant-caps: normal;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.button:hover{
	background-color: white; /* Green */
	border: 2px solid #008CBA;
	color: #008CBA;
}

.button:not(#clearLogsButton):active{
	position:relative;
	top:1px;
}
