*{
	font-family:Avenir, Calibri;
	font-size: 15px;
}

html{
	background:#222A38;
	margin:0; padding:0;
}
body{
	margin:0; padding:0;
}

.flex-container{
	display: flex;
}

.flex-container .flex-item.flex-50{
	flex: 50%;
}
.flex-container .flex-item{
	flex:auto;
}

.flex-container .flex-item:not(:first-child):not(.border-override){
	border-left:1px azure solid;
}

#out, #logs, #instructions{
	color:azure;
	padding-left: 20px;
}

h1{
	font-size: 26px;
}

h2{
	margin-top:0px;
	font-size: 22px;
}

.controls .title, #controls .title{
	color:#2d3c5d;
}

.title.version{
	font-weight: normal;
	font-size:15px;
}

.consolas{
	font-family: Consolas;
}

table{
	border-collapse: collapse;
	table-layout: fixed;
}

th{
	font-weight: bold;
}

tr:first-child{
	border-bottom: 1px solid azure;
}

.control-table td, .control-table th{
	text-align: center;
	vertical-align: middle;
	font-size:16px;
	width:65px;
	padding:3px 3px;
}

.controls-container{
	margin-bottom:25px;
}

#joystickControls{
	height:120px;
	width:100%;

	position: fixed;
	bottom:0px;
	z-index:100;
}

.joystick{
	height:90px;
	width:90px;
	z-index: 101;
}

#joystick_left{
	position: absolute;
	left:20px;
}

#joystick_right{
	position: absolute;
	right:35px;
}

.joystick .joystickBase{
	width:90px;
	height: 90px;

	border: 5px azure solid;
	border-radius: 100%;
	opacity: 0.75;

	z-index: 102;
}

.joystickStick, .joystickCircle{
	width:35px;
	height:35px;
	padding:10px;

	background:azure;
	border-radius:100%;

	text-align: center;
	color: #222A38;
	z-index: 103;
}

.joystickCircle{
	position: absolute;
	left:0; right: 1.5px; bottom:1.5px; top:0;
	margin: auto;
}

.y-separator, .y-padding{
	clear:both;
	padding-top:5px;
	padding-bottom:5px;
}

.x-separator{
	display:inline;
	margin-left:5px;
	border-right:1px solid black;
	margin-right:10px;
}

.x-padding{
	display:inline-block;
	width:5px;
	padding: 5px 0px;
}

#controls, .controls{
	background:azure;
	padding: 10px;
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}

#logs{
	width:30%;
}

#logs *:not(.title):not(.button){
	font-family: Consolas;
}

#clearLogsButton{
	position: absolute;
	margin:0px;
	margin-left: 20px;
}

#clearLogsButton:active{
	margin-top: 2px;
}

.smallcaps{
	font-variant-caps: small-caps;
}

.button {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
					supported by Chrome and Opera */

	background-color: #008CBA; /* Green */
	border: 2px solid #008CBA;
	color: white;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin:4px 2px;
	font-weight: normal;
	font-variant-caps: normal;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.button:hover{
	background-color: white; /* Green */
	border: 2px solid #008CBA;
	color: #008CBA;
}

.button:not(#clearLogsButton):active{
	position:relative;
	top:1px;
}
